
* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 100%;
  text-align: center;
}

.menu a {
  background-color: #b0c4de;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.main {
  float: left;
  margin-top: 7px;
  width: 100%;
  padding: 0 20px;
  background-color: #E8E8E8;
}
.picture {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content {
  background-color: #E8E8E8;
  float: left;
  width: 100vw;
  padding: 15px;
  /*margin-top: 7px;*/
  text-align: left;
  color: black;
}
.rightText {
  text-decoration: none;
  color: black;
}

.column {
  height: 100vw;
  float: left;
  padding: 10px;
  margin-top: 7px;
}
.left, .right {
  width: 30%;
}
.middle {
  width: 40%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
